<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/script.js"></script>
</head>
<body>
	<header>
		<h1>My Resume</h1>
	</header>
	<nav class="navbar">
		<a href="/">Home</a>
		<a href="/projects">Projects</a>
		<a href="/resume">Resume</a>
	</nav>
	<section>
		<div>
			Oops there's nothing here
		</div>
	</section>
	<footer>
		<p>Hey, nice to see you! Follow me on <a href="https://twitter.com">Twitter</a>.</p>
	</footer>
</body>
</html>
